*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centro {
	display: flex;
	justify-content: center;}

.direita{
	position: absolute;
	width: 100vh;
	height: 1026px;
	left: 693px;
	top: 0px;
	background: #390F0F;
	box-shadow: inset 0px 0px 120px #090808;
	justify-content: center;
}

.direita h1{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 54px;
	line-height: 63px;
	text-align: center;
	color: #D6D6D6;
}
.direita p span{

	font-family: 'Roboto';
	font-style: normal;
	font-weight: 70;
	font-size: 22px;
	line-height: 38px;
	text-align: center;
	color: #217C8F;	
}
#descrição {
	position: absolute;
	margin: auto;
	padding: 50px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 200;
	font-size: 18px;
	line-height: 38px;
	text-align: center;
	color: #CAB9B9;

}
.esquerda{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background: url("images.jpeg");
	background-repeat: no-repeat;	
	background-size: 100vh 100vh;
	object-fit: cover;
}
